{% extends "layout.html" %}

{% block title %}
    Honeycreepers
{% endblock %}

{% block main %}
    <h1> Hawaiian honeycreepers</h1>
    <div class="about-border"></div>
    <br>
    Hawaiian honeycreppers are birds endemic to the Hawaiian archapeligo. The Hawaiian honeycreeper's most common ancestor is believed to be cardueline finches, which Hawaiian honeycreepers have diverged from 15-20 million years ago (Sibley and Ahlquist, 1982).  The Hawaiian honeyrcreepers came to the Hawaiian Islands where they encountered many available niches, and thus underwent adaptive radition.  The Hawaiian honeyrcreepers once comprised approximently 55 species but since has plummeted to 18 species.  Many of these 18 remaining honeycrreepers are endagered species--and that is where this bird tracker comes into play. Please help conservationist monitior the bird patterns and estimate population levels by submitting the form whenever you see one of the 18 honeycreepers.
    <br><br>
    <img src= "/static/pictures/honeycreepers.jpg " alt= "Honeycreeper phylogeny" height="600" width="400">

    <footer> Sources: https://www-jstor-org.ezp-prod1.hul.harvard.edu/stable/pdf/4086029.pdf?refreqid=search%3A1fedff036de149e0e0540dbe6c973777, https://www.sciencedirect.com/science/article/pii/S0960982211010785</footer>
{% endblock %}