{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="cover-heading">Welcome!</h1>
    <div class="about-border"></div>
    <br>
    <h3>This website contains information about Hawaiian Honeycreepers and Tarweeds in Hawaii.  Both Hawaiian Honeycreepers and Tarweeds underwent adaptive raditation when they were introduced to the islands and thus can provide insight on how adaptive radition differs between plants and animals.   </h3>
    <br>
    <h3>However, many of the Hawaiian Honeycreepers are already extinct or endangered. This website also serves as a citizen science project to help conservation biologist keep track of the remaining species of Hawaiian Honeycreepers. Through user input and a map is generated of when and where each species has been seen. </h3>
{% endblock %}
