{% extends "layout.html" %}

{% block title %}
    Ferns
{% endblock %}

{% block main %}
    <h1>Tarweeds</h1>
    <div class="about-border"></div>
    <br>
    Tarweeds, also known as silverswords, arrived in Hawaii approximently 5 million years ago from California. The Tarweed has ungergone adaptive radiation resulting in 50 different species of Tarweeds with 25 being endemic on only one of the Hawaiian islands. These tarweeds occupy all different types of environments ranging from coastal regions to mountain regions to rainforests.
    <br><br>
    <img src= "/static/pictures/tarweeds.jpg " alt= "Tarweed phylogeny" height="600" width="400">
    <img src= "/static/pictures/silwersword.png " alt= "Silwer swords" height="600" width="400">
    <footer> Sources: http://www.pnas.org/content/95/16/9402, https://casc.usgs.gov/content/native-hawaiian-silverswords-threatened-shifting-climate-patterns, https://www.nap.edu/read/10865/chapter/8</footer>
{% endblock %}